<!--
  Title: nav.component.html
  Author: Brock Hemsouvanh, Phuong Tran
  Date: 07/07/2024
  Description: Navigation component template for BCRS application
-->

<nav class="navbar navbar-expand-lg no-print">
  <!-- Brand link to home page -->
  <a class="navbar-brand" href="/">
    <!-- Brand text for the navigation bar. -->
    <img src="assets/bcrs-logo.jpg" alt="BCRS Logo" width="80" height="70" />
  </a>
  <span class="navbar-brand">BCRS</span>

  <!-- Toggler button for collapsed navbar on small screens -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-nav">
      <!-- Home link -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <!-- Services link -->
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/services" class="nav-link">Services</a>
      </li>
      <!-- FAQ link -->
      <li class="nav-item">
        <a routerLink="/faq" class="nav-link">FAQ</a>
      </li>
      <!-- Employee Directory link -->
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/employee-directory" class="nav-link">EmployeeDirectory</a>
      </li>
      <!-- Register Link for new user -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/security/register">Register</a>
      </li>
      <!-- Sign In link (visible when not signed in) -->
      <li *ngIf="!isSignedIn" class="nav-item">
        <a class="nav-link" routerLink="/security/signin">Sign In</a>
      </li>

      <!-- Dropdown menu (visible when signed in) -->
      <li *ngIf="isSignedIn" class="nav-item dropdown">
        <a href="#"
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="material-icons">person</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li class="dropdown-item profileName">
            Signed in as {{ appUser.fullName }}
          </li>
          <li class="dropdown-item role">User Role</li>
          <hr />
          <li class="dropdown-item">
            <a routerLink="/" class="dropdown-item menuItem">My Profile</a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/" class="dropdown-item menuItem">User Configuration</a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/" class="dropdown-item menuItem">Purchases By Service</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item menuItem">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
